# IDE files and folder
**/.idea
**/.project

# Gradle files and folders

**/.gradle
**/gradlew
**/build

## The wrapper is not commited to vcs: https://stackoverflow.com/questions/20348451/why-should-the-gradle-wrapper-be-committed-to-vcs
**/gradle
**/gradlew.bat
gradle_build
